body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

.custom-bg {
  background-color: #3D52A0;
  padding: 10px 0;
}

.navbar-brand {
  font-size: 24px;
  padding-left: 10px;
  color: white;
  text-decoration: none;
}

.nav-link {
  position: relative;
  transition: all 0.3s ease;
  color: white !important;
}

.nav-link:hover {
  color: #C6CBE9 !important;
  transform: translateY(-2px);
}

/* Dropdown styling */
.dropdown-menu {
  background-color: #3D52A0;
  border: none;
  border-radius: 0;
}

.dropdown-item {
  color: white;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  background-color: #2f3f83;
  color: #ffffff;
}

/* WhatsApp Button */
.whatsapp-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-size: 20px;
}

.whatsapp-btn:hover {
  background-color: #1eb75a !important;
  transform: scale(1.1);
}
